In [1]:
import yfinance as yf # Import yahoo finance module
import pandas as pd

In [2]:
from model_helper import capm_model
from model_helper import compute_beta

In [3]:
beta  = compute_beta(['SPY', 'AAPL', 'TSLA'], 'SPY', '10Y')

working on SPY
working on AAPL
working on TSLA
SPY 0.9999999999999989
AAPL 1.1859208275193431
TSLA 1.4254560258512496

In [ ]:
for s in beta:
    print(str(beta[s].std) + " " + str(beta[s].cov))

In [5]:
from model_helper import capm_modelMap

In [ ]:
capm  = capm_modelMap(beta, 'SPY' , 5)

In [ ]:
capm

In [6]:
capm2  = capm_modelMap(beta, 'SPY' , 10)
capm2

{'SPY': <stock.Stock at 0x7fdcd838c610>,
 'AAPL': <stock.Stock at 0x7fdcd89a3f40>,
 'TSLA': <stock.Stock at 0x7fdcb946e2b0>}

In [ ]:
from stock import Stock
for s in capm2:
    #print(capm2[s].exp_return)
    print(vars(capm2[s]))
    p  = pd.DataFrame([vars(f) for f in allFoo])

In [7]:
import pandas as pd
p  = pd.DataFrame([vars(capm2[s]) for s in capm2])

In [8]:
p.head()

,ticker,beta,exp_return,annual_return,var,std,cov,corr,systematic,idiosyncratic
0,SPY,1.000000,13.984744,13.984744,1.189169,1.090490,1.189169,1.000000,1.189169,0.000000
1,AAPL,1.185921,14.725590,26.238958,3.378098,1.837960,1.410260,0.703625,1.672457,1.705641
2,TSLA,1.425456,15.680077,61.492038,12.726828,3.567468,1.695108,0.435728,2.416302,10.310526

In [9]:
from scipy import stats

In [10]:
stock_returns = [0.065, 0.0265, -0.0593, -0.001, 0.0346]
mkt_returns = [0.055, -0.09, -0.041, 0.045, 0.022]

In [11]:
beta, alpha, r_value, p_value, std_err =  stats.linregress(stock_returns, mkt_returns)

In [12]:
 print(beta, alpha)

0.5077431878770808 -0.008481900352462384

In [14]:
import pandas as pd
dg = pd.read_excel('Beta.xlsx')

In [15]:
dg.head()

,mydate,SPY,SPY_daily_return,AAPL,AAPL_daily_return,TSLA,TSLA_daily_return
0,2022-11-11,398.510010,0.967850,149.699997,1.926875,195.970001,2.752726
1,2022-11-10,394.690002,5.495415,146.869995,8.897457,190.720001,7.393437
2,2022-11-09,374.130005,-2.060208,134.869995,-3.319000,177.589996,-7.166757
3,2022-11-08,382.000000,0.539541,139.500000,0.417508,191.300003,-2.932819
4,2022-11-07,379.950012,0.956558,138.919998,0.390225,197.080002,-5.007953

In [20]:
dg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2519 entries, 0 to 2518
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mydate             2519 non-null   datetime64[ns]
 1   SPY                2519 non-null   float64
 2   SPY_daily_return   2518 non-null   float64
 3   AAPL               2519 non-null   float64
 4   AAPL_daily_return  2518 non-null   float64
 5   TSLA               2519 non-null   float64
 6   TSLA_daily_return  2518 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 137.9 KB

In [29]:
beta, alpha, r_value, p_value, std_err =  stats.linregress(dg['SPY_daily_return'], dg['AAPL_daily_return'])

In [30]:
print(beta, alpha)

1.1859208275193445 0.03831015777705234

In [26]:
dg.isnull().sum()

mydate               0
SPY                  0
SPY_daily_return     0
AAPL                 0
AAPL_daily_return    0
TSLA                 0
TSLA_daily_return    0
dtype: int64

In [25]:
dg = dg.dropna()

In [33]:
a= dg['SPY_daily_return'].cov(dg['AAPL_daily_return'])
a

1.4102604005244408