In [1]:
import yfinance as yf # Import yahoo finance module
import pandas as pd

In [2]:
from model_helper import capm_model
from model_helper import compute_beta

In [3]:
beta  = compute_beta(['SPY', 'AAPL', 'TSLA'], 'SPY', '10Y')

working on SPY
working on AAPL
working on TSLA
SPY 0.9999999999999989
AAPL 1.1859208275193431
TSLA 1.4254560258512496

In [ ]:
for s in beta:
    print(str(beta[s].std) + " " + str(beta[s].cov))

In [5]:
from model_helper import capm_modelMap

In [ ]:
capm  = capm_modelMap(beta, 'SPY' , 5)

In [ ]:
capm

In [6]:
capm2  = capm_modelMap(beta, 'SPY' , 10)
capm2

{'SPY': <stock.Stock at 0x7fdcd838c610>,
 'AAPL': <stock.Stock at 0x7fdcd89a3f40>,
 'TSLA': <stock.Stock at 0x7fdcb946e2b0>}

In [ ]:
from stock import Stock
for s in capm2:
    #print(capm2[s].exp_return)
    print(vars(capm2[s]))
    p  = pd.DataFrame([vars(f) for f in allFoo])

In [7]:
import pandas as pd
p  = pd.DataFrame([vars(capm2[s]) for s in capm2])

In [8]:
p.head()

,ticker,beta,exp_return,annual_return,var,std,cov,corr,systematic,idiosyncratic
0,SPY,1.000000,13.984744,13.984744,1.189169,1.090490,1.189169,1.000000,1.189169,0.000000
1,AAPL,1.185921,14.725590,26.238958,3.378098,1.837960,1.410260,0.703625,1.672457,1.705641
2,TSLA,1.425456,15.680077,61.492038,12.726828,3.567468,1.695108,0.435728,2.416302,10.310526

In [ ]:
from scipy import stats

In [ ]:
stock_returns = [0.065, 0.0265, -0.0593, -0.001, 0.0346]
mkt_returns = [0.055, -0.09, -0.041, 0.045, 0.022]

In [ ]:
beta, alpha, r_value, p_value, std_err =  stats.linregress(stock_returns, mkt_returns)

In [ ]:
 print(beta, alpha)