In [ ]:
import yfinance as yf # Import yahoo finance module
import pandas as pd

In [1]:
from model_helper import capm_model
from model_helper import compute_beta

In [2]:
beta  = compute_beta(['SPY', 'AAPL', 'TSLA'], 'SPY', '5Y')

working on SPY
working on AAPL
working on TSLA
SPY 1.0000000000000016
AAPL 1.2369455343130882
TSLA 1.4550338769003694

In [ ]:
for s in beta:
    print(str(beta[s].std) + " " + str(beta[s].cov))

In [3]:
from model_helper import capm_modelMap

In [ ]:
capm  = capm_modelMap(beta, 'SPY' , 5)

In [ ]:
capm

In [4]:
capm2  = capm_modelMap(beta, 'SPY' , 10)
capm2

{'SPY': <stock.Stock at 0x7fcd50ba1f40>,
 'AAPL': <stock.Stock at 0x7fcd908ddb50>,
 'TSLA': <stock.Stock at 0x7fcd908c4d60>}

In [20]:
from stock import Stock
for s in capm2:
    #print(capm2[s].exp_return)
    print(vars(capm2[s]))
    p  = pd.DataFrame([vars(f) for f in allFoo])

{'ticker': 'SPY', 'beta': 11.841107926018715, 'exp_return': 11.841107926018715, 'annual_return': 11.841107926018715, 'var': 1.7854641897258043, 'std': 1.3362126289351572, 'cov': 1.785464189725807, 'corr': 0.9999999999999999}
{'ticker': 'AAPL', 'beta': 1.2369455343130882, 'exp_return': 12.277350227277282, 'annual_return': 29.67147501904875, 'var': 4.308271956350846, 'std': 2.0756377228097502, 'cov': 2.20852195615727, 'corr': 0.7962961099091508}
{'ticker': 'TSLA', 'beta': 1.4550338769003694, 'exp_return': 12.67887440338701, 'annual_return': 65.81283115716083, 'var': 16.494648760888854, 'std': 4.061360456902201, 'cov': 2.597910882043514, 'corr': 0.47871511590126586}

In [23]:
import pandas as pd
p  = pd.DataFrame([vars(capm2[s]) for s in capm2])

In [24]:
p.head()

,ticker,beta,exp_return,annual_return,var,std,cov,corr
0,SPY,11.841108,11.841108,11.841108,1.785464,1.336213,1.785464,1.000000
1,AAPL,1.236946,12.277350,29.671475,4.308272,2.075638,2.208522,0.796296
2,TSLA,1.455034,12.678874,65.812831,16.494649,4.061360,2.597911,0.478715