In [1]:
import yfinance as yf # Import yahoo finance module
import pandas as pd

In [2]:
from model_helper import capm_model
from model_helper import compute_beta

In [3]:
beta  = compute_beta(['SPY', 'AAPL', 'TSLA', 'NVDA', 'ARM', 'SMCI'], 'SPY', '1Y')

working on SPY
working on AAPL
working on TSLA
working on NVDA
working on ARM
working on SMCI
SPY 1.0
AAPL 1.111274984952873
TSLA 2.0225279062999912
NVDA 2.3035973365012796
ARM 3.212764788183915
SMCI 3.9853878335942343

In [4]:
for s in beta:
    print(str(beta[s].std) + " " + str(beta[s].cov))

0.7006191998108761 0.4908672631436323
1.4078839585632061 0.5454885104637979
3.3002560088997126 0.9927927379970976
2.86765994706656 1.1307605199533441
5.670841410000862 1.57704105870007
6.004213311819316 1.9562964184423317

In [5]:
from model_helper import capm_modelMap

In [6]:
capm  = capm_modelMap(beta, 'SPY' , 5)

In [7]:
capm

{'SPY': <stock.Stock at 0x7fa8c03c0cd0>,
 'AAPL': <stock.Stock at 0x7fa8d01dda90>,
 'TSLA': <stock.Stock at 0x7fa8d019ebe0>,
 'NVDA': <stock.Stock at 0x7fa8d01dddf0>,
 'ARM': <stock.Stock at 0x7fa8d01ddbb0>,
 'SMCI': <stock.Stock at 0x7fa8d019ec70>}

In [8]:
capm2  = capm_modelMap(beta, 'SPY' , 10)
capm2

{'SPY': <stock.Stock at 0x7fa8c03c0cd0>,
 'AAPL': <stock.Stock at 0x7fa8d01dda90>,
 'TSLA': <stock.Stock at 0x7fa8d019ebe0>,
 'NVDA': <stock.Stock at 0x7fa8d01dddf0>,
 'ARM': <stock.Stock at 0x7fa8d01ddbb0>,
 'SMCI': <stock.Stock at 0x7fa8d019ec70>}

In [9]:
import pandas as pd
p  = pd.DataFrame([vars(capm2[s]) for s in capm2])

In [23]:
p.head(10)

,ticker,beta,exp_return,annual_return,var,std,cov,corr,systematic,idiosyncratic
0,SPY,1.000000,24.073858,24.073858,0.490867,0.700619,0.490867,1.000000,0.490867,0.000000
1,AAPL,1.111275,25.639926,22.147016,1.982137,1.407884,0.545489,0.553015,0.606188,1.375950
2,TSLA,2.022528,38.464770,2.212636,10.891690,3.300256,0.992793,0.429367,2.007951,8.883739
3,NVDA,2.303597,42.420501,114.175947,8.223474,2.867660,1.130761,0.562809,2.604817,5.618657
4,ARM,3.212765,55.215995,164.631271,32.158442,5.670841,1.577041,0.391751,5.066662,27.091780
5,SMCI,3.985388,66.089782,157.658237,36.050577,6.004213,1.956296,0.465047,7.796600,28.253978

In [24]:
from scipy import stats

In [25]:
stock_returns = [0.065, 0.0265, -0.0593, -0.001, 0.0346]
mkt_returns = [0.055, -0.09, -0.041, 0.045, 0.022]

In [26]:
beta, alpha, r_value, p_value, std_err =  stats.linregress(stock_returns, mkt_returns)

In [14]:
 print(beta, alpha)

0.5077431878770808 -0.008481900352462384

In [27]:
import pandas as pd
dg = pd.read_excel('Beta.xlsx')

In [28]:
dg.head(10)

,mydate,SPY,SPY_daily_return,AAPL,AAPL_daily_return,TSLA,TSLA_daily_return,NVDA,NVDA_daily_return,ARM,ARM_daily_return,SMCI,SMCI_daily_return
0,2024-07-12,559.989990,0.630752,230.539993,1.305087,248.229996,2.987179,129.240005,1.444273,181.179993,4.613425,909.960022,2.332387
1,2024-07-11,556.479980,-0.862258,227.570007,-2.322083,241.029999,-8.444128,127.400002,-5.566676,173.190002,-7.116810,889.219971,-1.195583
2,2024-07-10,561.320007,0.989529,232.979996,1.880358,263.260010,0.354524,134.910004,2.686862,186.460007,2.293180,899.979980,0.487935
3,2024-07-09,555.820007,0.097244,228.679993,0.377485,262.329987,3.712337,131.380005,2.480505,182.279999,-1.310232,895.609985,-0.414753
4,2024-07-08,555.280029,0.115393,227.820007,0.653888,252.940002,0.564567,128.199997,1.883490,184.699997,1.937190,899.340027,6.232135
5,2024-07-05,554.640015,0.576650,226.339996,2.162037,251.520004,2.082067,125.830002,-1.909882,181.190002,7.697335,846.580017,-0.049585
6,2024-07-03,551.460022,0.446260,221.550003,0.581104,246.389999,6.542422,128.279999,4.573246,168.240005,2.924262,847.000000,1.174196
7,2024-07-02,549.010010,0.672971,220.270004,1.623993,231.259995,10.197271,122.669998,-1.311347,163.460007,2.915069,837.169983,3.059136
8,2024-07-01,545.340027,0.205809,216.750000,2.910457,209.860001,6.054172,124.300003,0.615187,158.830002,-2.927511,812.320007,-0.857993
9,2024-06-28,544.219971,-0.393511,210.619995,-1.625414,197.880005,0.233009,123.540001,-0.362930,163.619995,-1.985804,819.349976,-7.975427

In [17]:
dg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   mydate             252 non-null    datetime64[ns]
 1   SPY                252 non-null    float64
 2   SPY_daily_return   251 non-null    float64
 3   AAPL               252 non-null    float64
 4   AAPL_daily_return  251 non-null    float64
 5   TSLA               252 non-null    float64
 6   TSLA_daily_return  251 non-null    float64
 7   NVDA               252 non-null    float64
 8   NVDA_daily_return  251 non-null    float64
 9   ARM                208 non-null    float64
 10  ARM_daily_return   207 non-null    float64
 11  SMCI               252 non-null    float64
 12  SMCI_daily_return  251 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 25.7 KB

In [18]:
beta, alpha, r_value, p_value, std_err =  stats.linregress(dg['SPY_daily_return'], dg['AAPL_daily_return'])

In [19]:
print(beta, alpha)

nan nan

In [20]:
dg.isnull().sum()

mydate                0
SPY                   0
SPY_daily_return      1
AAPL                  0
AAPL_daily_return     1
TSLA                  0
TSLA_daily_return     1
NVDA                  0
NVDA_daily_return     1
ARM                  44
ARM_daily_return     45
SMCI                  0
SMCI_daily_return     1
dtype: int64

In [21]:
dg = dg.dropna()

In [22]:
a= dg['SPY_daily_return'].cov(dg['AAPL_daily_return'])
a

0.5224423606675562